@use "../../styles/mixins.scss";

.form {
  max-width: 768px;
  margin: auto;
  &__div {
    text-align: left;
    padding: 10px;
  }
  &-label {
    text-align: left;
  }
}
button {
  @include mixins.logout(black);
}
